@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="row">
        <h1 id="title">Welcome to my Cocktail Managment App</h1>
        <p class="lead">Explore and see what cocktails you find!</p>
        </section>

    <div class="row">
        <section class="col-md-4">
            <a href="~/cocktail/list"><h2>View a list of all cocktails</h2></a>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <a href="~/bartender/list"><h2>View a list of our bartenders</h2></a>
        </section>
    </div>
</main>