@model PassionProject.Models.BartenderDto
@{
     ViewBag.Title = "DeleteConfirm";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Confirm</title>
</head>
<body>
    <div>
        <h2>Are you sure you want to remove this bartender?</h2>
        <a href="/Bartender/List">Cancel</a>
        <h2>@Model.firstName @Model.lastName</h2>

        <form action="/Bartender/Delete/@Model.bartenderId" method="POST">
            <input type="submit" value="Confirm Delete" />

        </form>
    </div>
</body>
</html>
