@model IEnumerable<PassionProject.Models.BartenderDto>
@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bartender List</title>
</head>
<body>
    <div> 
        <h2>List of Bartenders</h2>
        <a href="/Bartender/New">Add a New Bartender</a>
        @foreach(var bartender in Model)
            {
                <h3><a href="/Bartender/Details/@bartender.bartenderId">@bartender.firstName @bartender.lastName</a></h3>
            }
    </div>
</body>
</html>
